pseduo class are those class which are use to define a special state of ::-webkit-progress-inner-element
syntax
selector:psedo-class{
    property: value
}
div:hover {
    background-color: blue;
  }

What are Pseudo-Elements?
A CSS pseudo-element is used to style specified parts of an element.
For example, it can be used to:
Style the first letter, or line, of an element
Insert content before, or after, the content of an element

selector::pseudo-element {
    property: value;
  }
  p::first-line {
    color: #ff0000;
    font-variant: small-caps;
  }

Styled-components is a popular and modern CSS-in-JS library for styling React components.
 It allows you to write CSS directly within your JavaScript code, creating scoped, reusable, 
 and maintainable styles for your components.

html page ke relation me  /relative to the HTML page  position: 'absolute'
relative to the window/frame edges.  position : 'fixed'
relative to its normal position.  position : 'relative'